<a href="https://colab.research.google.com/github/tiff34-spec/Coding-Questions/blob/main/Tuesday_Lesson_Inclass_Updated_Lecture_Updated2021_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [2]:
# string.lstrip()
name = "     hJohn Smith"
print(name.lstrip(" " "h"))

John Smith

##### .rstrip()

In [3]:
# string.rstrip()
name = "Bill Ross     th"
print(name.rstrip(" " "th"))

Bill Ross

##### .strip()

In [4]:
# string.strip()
name = "     John Smith     th"
print(name.strip("ah"))

     John Smith     t

##### .title()

In [5]:
# string.title()
president = "barak obama"

print(president.title())

Barak Obama

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [6]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

# list_above = []
# list_above.append(names)
# for x in range(len(1000)):
#     print(x)

names_list = []
for name in names:
    print(name.strip().title())
    names_list.append(name.strip().title())
print(names_list)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [7]:
# min(list)
numbers = [4,2,97,54,16]

print(min(numbers))

2

##### max()

In [8]:
# max(list)

print(max(numbers))

97

##### sum()

In [9]:
# sum(list)

print(sum(numbers))

173

##### sorted()

In [10]:
# sorted(list)
print(numbers)

sorted_numbers = sorted(numbers)
print(sorted(numbers))
print(f'regular numbers: {numbers}')

print(f'sorted numbers: {sorted_numbers}')

[4, 2, 97, 54, 16]
[2, 4, 16, 54, 97]
regular numbers: [4, 2, 97, 54, 16]
sorted numbers: [2, 4, 16, 54, 97]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [11]:
# list.sort()
print(f'before sort: {numbers}')
print(numbers.sort())
print(numbers)

# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

before sort: [4, 2, 97, 54, 16]
None
[2, 4, 16, 54, 97]

##### Copying a List

In [12]:
# [:] copies a list, doesn't alter original'
list_1 = numbers[:]
print(list_1)
print(numbers)

[2, 4, 16, 54, 97]
[2, 4, 16, 54, 97]

##### 'in' keyword

In [13]:
l_teachers = ["Joel","Derek","Conner","Brian","Joe"]

if 'Derek' in l_teachers:
    print('Coding Temple Instructor')
else:
    print('Not an Instructor')

Coding Temple Instructor

In [14]:
# Looking inside of the list for specific characters
# for name in l_teachers:
#     if name[0] == 'C':
#         print('Teacher that starts with C')
#     else:
#         print("We ain't got it boss...")

for name in l_teachers:
    if 'C' in name[0]:
        print('Found')
    else:
        print('Not Found')

Not Found
Not Found
Found
Not Found
Not Found

##### 'not in' keyword

In [15]:
if 'Zack' not in l_teachers:
    print('Not a CT Instructor')

Not a CT Instructor

##### Checking an Empty List

In [16]:
# if l_1: or if l_1 = []
l_2 = []

if l_2 == []:
    print('Empty')

Empty

##### Removing Instances with a Loop

In [17]:
# while, remove
names = ['Conner',"Joel", "Max","Evan","Rob","Evan"]

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Conner', 'Joel', 'Max', 'Rob']
['Conner', 'Joel', 'Max', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [18]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names_copy = []

for i in names:
    if i not in names_copy:
        names_copy.append(i)
print(f'new list after removing dups {names_copy}')

new list after removing dups ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [19]:
# number comprehension

# With a regular for loop

nums = []

for i in range(100):
    nums.append(i)
print(nums)


# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable
# The finale part of a list comp is called the condition

#[variable, transform, condition]

print('\n')

# List Comprehension syntax
nums_comp = [i for i in range(100)]

print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [20]:
# square number comprehension
squares = [x**2 for x in range(10)]

print(squares)

squares_reg = []

for x in range(10):
    squares_reg.append(x**2)

print('\n')
print(squares_reg)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
# string comprehension
names = ['Conner', 'Max','Evan','Rob']

first_char_comp = [name[0] for name in names]

print(first_char_comp)

# For Loop Version
first_char = []

for name in names:
    first_char.append(name[0])
print('\n')
print(first_char)

['C', 'M', 'E', 'R']


['C', 'M', 'E', 'R']

In [22]:
# Using the 'if' statement ... if always comes after the for
c_names = [first_name for first_name in names if first_name[0] == 'C']

print(c_names)

# for loop version
c_names_reg = []

for first_name in names:
    if first_name[0] == 'C':
        c_names_reg.append(first_name)

print('\n')
print(c_names_reg)

['Conner']


['Conner']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [23]:
tup_1 = 1,2,3 # first way of creating a tuple
tup_2 = (1,2,3) # Another/Second way of creating a tuple

print(type(tup_1))
print(type(tup_2))

print(tup_1[0])

print(len(tup_1))

# Looping over a tuple
for number in tup_1:
    print(number)

# Looping over a tuple with an index using range and len
for number in range(len(tup_1)):
    print(tup_1[number])

<class 'tuple'>
<class 'tuple'>
1
3
1
2
3
1
2
3

##### sorted()

In [24]:
tup_3 = (20,5,1,3,9,45)

sorted_tup = sorted(tup_3)

random_list = [3,4,66,77,33]
combine_list = sorted_tup + random_list

new_tup = tuple(combine_list)

print('\n')
print(new_tup)
print(combine_list)
print(type(sorted_tup))
print(sorted_tup)

(1, 3, 5, 9, 20, 45, 3, 4, 66, 77, 33)
[1, 3, 5, 9, 20, 45, 3, 4, 66, 77, 33]
<class 'list'>
[1, 3, 5, 9, 20, 45]

##### Adding values to a Tuple

In [25]:
print(tup_1)

tup_1 = tup_1 + (5,)

print(tup_1)

(1, 2, 3)
(1, 2, 3, 5)

## Functions

##### User-Defined vs. Built-In Functions

In [26]:
# User Defined Function
def sayHello():
    return 'Hello World'
# Showing the function call in memory
print(sayHello)

# Calling The function
print(sayHello())

<function sayHello at 0x7c0b50e76980>
Hello World

##### Accepting Parameters

In [27]:
# Order matters
# A variable can be of any type of object
def printFullName(first_name,last_name):
    return f'Hello {first_name}, {last_name}'

print(printFullName('Joel', 'Carter'))
print(printFullName('Carter', 'Joel'))

print(printFullName(last_name="Carter",first_name = "Joel"))

Hello Joel, Carter
Hello Carter, Joel
Hello Joel, Carter

##### Default Parameters

In [28]:
# default parameters need to be AFTER non-default parameters at all times

def printAgentName(first_name, last_name = 'Bond'):
    return f'The name is...{first_name} {last_name}'

printAgentName('James')

# DON'T DO THIS PLEASE
# def printAgentAgain(last_name = 'Bond', first_name):
#     return f'The name is...{first_name} {last_name}'

# printAgentAgain(first_name ='James')

'The name is...James Bond'

##### Making an Argument Optional

In [29]:
def printHorseName(first, middle = "", last = "Ed"):
    return f"Hello {first} {middle} {last}"

printHorseName("Mr")

'Hello Mr  Ed'

##### Keyword Arguments

In [30]:
# last_name='Max', first_name='Smith' in the function call
def printSuperHero(name, power = "flying"):
    return f'{name} and superpower is {power}'

printSuperHero('IronMan')
# see above

'IronMan and superpower is flying'

# Creating a start, stop, step function

In [31]:
def my_range(stop,start=0,step = 1):
    for i in range(start,stop,step):
        print(i)
my_range(20,1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Returning Values

In [32]:
def addNums(num1,num2):
    return num1 + num2

addNums(5,2)

7

##### *args / **kwargs (AKA KeyWord Args)

In [33]:
# stands for arguments, takes ANY number of arguments as parameters
# must be last if muliple parameters are present
def printArgs(num1,*args, **kwargs):
    print(num1)
    print(args)

    for arg in args:
        print(arg)

    for kwarg in kwargs:
        print(kwarg)

printArgs(36,'DragonZord','vanilla',2,3,testing="joel")

36
('DragonZord', 'vanilla', 2, 3)
DragonZord
vanilla
2
3
testing

##### Docstring

In [34]:
def printNames(list_1):
    """
        printNames(list_1)
        Function requires a list to be passed as a parameter
        and will print the contents of the list. Expecting
        a list of names(strings) to be passed.
    """
    for name in list_1:
        print(name)

printNames(['George','Ramon','Peter'])
help(printNames)

George
Ramon
Peter
Help on function printNames in module __main__:

printNames(list_1)
    printNames(list_1)
    Function requires a list to be passed as a parameter
    and will print the contents of the list. Expecting
    a list of names(strings) to be passed.

##### Using a User Function in a Loop

In [ ]:
def printInput(answer):
    print(answer)

response = input('Are you ready to quit??')

while True:
    ask = input('What do you want to do?')

    printInput(ask)

    response = input('Ready Yet?')
    if response.lower() == 'quit':
        break

Are you ready to quit??no
What do you want to do?run cells
run cells
Ready Yet?yes

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
def combine_names(first_names, last_names):
    full_names = []
    for first, last in zip(first_names, last_names):
        full_names.append(f"{first} {last}")
    return full_names

# Example usage:
first_names = ["John", "Jane", "Alex"]
last_names = ["Doe", "Smith", "Johnson"]
result = combine_names(first_names, last_names)
print(result)  # Output: ['John Doe', 'Jane Smith', 'Alex Johnson']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
# placement of variable declaration matters
number = 3 # Global Variable

def myFunc():
    num_3 = 6 # Local Function Variable
    return num_3

print(number)
return_num = myFunc()

print(return_num)

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [ ]:
def less_than_ten(numbers):
    return [num for num in numbers if num < 10]

# Example usage:
input_list = [1, 11, 14, 5, 8, 9]
output = less_than_ten(input_list)
print(output)  # Output: [1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
def merge_and_sort(list1, list2):
    merged_list = list1 + list2  # Combine the two lists
    merged_list.sort()           # Sort the merged list in place
    return merged_list

# Example usage:
list_a = [3, 1, 7]
list_b = [2, 6, 4]
result = merge_and_sort(list_a, list_b)
print(result)  # Output: [1, 2, 3, 4, 6, 7]